<form
  class="flex gap-5 rounded-[1.5rem] py-5 md:py-2 px-6 bg-[#95969b2e] w-96 relative"
>
  <label for="buscar">
    <button type="submit" id="enviar">
      <img src="/buscar.webp" alt="search" class="h-5 cursor-pointer" />
    </button>
  </label>
  <input
    id="buscar"
    type="text"
    placeholder="Buscar película"
    class="bg-transparent border-none outline-none text-2xl md:text-lg w-full"
  />

  <ul id="search-results" 
    class="flex flex-col gap-4 hidden z-[99994] text-2xl md:text-xl  search-results absolute md:top-[4rem] top-[6rem] left-1/2 transform -translate-x-1/2 bg-[#3f4047e2] backdrop-blur-[20px] rounded-[.8rem] max-h-[60vh] overflow-auto py-4 px-6 w-[130%] "
  >
   
  </ul>
</form>
<style>
  ul {
    scrollbar-width: none;
  }
  
</style>
<script src="../../pages/api/results.js"></script>